footer {
    color: rgba(165, 89, 237, 1);
    text-align: center;
    background-color: white;
    padding: 20px 0;
    margin-top: auto;
    width: 100%;
    position: relative;
    bottom: 0;
  }
  
  .footer svg {
    width: 24px;
    height: 24px;
  }
  
  .footer .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
  }
  